/.env
/.settings.yml
/main
/chromedriver
/data/*
!/data/.gitkeep
.terraform/
*.svg.bkp
config
/mem.pprof
file_*.pdf
heap.*.pprof
.env.secret
__debug_bin
cover.out
go.work*
.venv/
!.vscode
.vscode/enverant.json
!.vscode/enverant.example.json
!.vscode/settings.json
