fastapi[all]
uvicorn[standard]
black
factory-boy
SQLAlchemy[mypy]
SQLAlchemy-Utils
alembic
pytest
pytest-pythonpath
pytest-asyncio
psycopg2-binary
celery[redis]
flower
Faker
darklab-utils
asyncpg
uvicorn
httpx
mypy
celery-types